/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Bebas Neue, Tahoma, Verdana, sans-serif;
  color: #fff;
}

body {
  background-image: linear-gradient(to right, #1f3756, #1653a3 )
}

.title {
  margin-top: 3%;
  text-align: center;
  font-size: 48px;
}
.sub-title {
  font-size: 22px;
  text-align: center;
  margin: 1% 0 3% 0;
}

.logo{
  filter: invert(100%);
  width: 48px;
  height: 48px;
}

/* rules and matches interactive text */

#rules {
  text-align: center;
}

#winner-rule-point {
  font-size: 1.2em;
  margin-top: 2%;
  position: absolute;
}

.rule-container {
  display: flex;
  justify-content: center;
}

#matches {
  text-align: center;
}

/* buttons */
.btn-container {
  padding: 1%;
  box-shadow: 10px 5px 5px #000000;
  border-radius: 10%;
  background-color: #1653a3;
  border: solid 10px #122a49;
  margin: 25px auto;
  max-width: 50%;
  display: flex;
  justify-content:space-around;
}


.btn-hover{
  all: unset;
  cursor: pointer;
}


.btn-hover:hover {
  background-color:#fefffd;
}

.btn-size{
  width: 45px;
  height: 55px;
}

.btn-lizard{
  width: 65px;
}
/* Hamburger rules drop down menu */
.rules-navbar {
  margin: 1em 0 0 1em;
  display: flex;
}

.toggle-button {
  font-size: 2rem;
  cursor: pointer;
}

#hamburger-menu {
  margin: 7px 3px 0 0;
  width: 30px;
  height: 21px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#hamburger-menu .bar {
  height: 3px;
  width: 100%;
  border-radius: 10px;
  background-color: white;
    
}

.rules-list {
  position: absolute;
  list-style: none;
  margin-top: 3rem;
  margin-left: 2rem;
  display: none;
}

.rules-list li {
  font-size: 1.5rem;
  margin: .5rem;
}

.rules-list.active {
  display: block;
}

/* Animation code taken from: youtube channel Code Grind more details and link at readme.md */

@keyframes shake-computer {
  0% {
    transform: rotate(-30deg);
  }

  25% {
    transform: rotate(30deg);
  }

  50% {
    transform: rotate(-30deg);
}

  75% {
    transform: rotate(30deg);
  }

  100% {
    transform: rotate(-30deg);
  }

}

@keyframes shake-player {
  0% {
    transform: rotate(30deg);
  }

  25% {
    transform: rotate(-30deg);
  }

  50% {
    transform: rotate(30deg);
  }

  75% {
    transform: rotate(-30deg);
  }

  100% {
    transform: rotate(30deg);
  }

}

/* Game field */

#game-field {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 0 37px 0;
}

.shake-player {
  animation: shake-player .9s linear;
}

.shake-computer {
  animation: shake-computer .9s linear;
}

/* Game interactive images */
#player-hand {
  padding-top: 3%;
  position: absolute;
  width: 90px;
  height: 140px;
  margin-bottom: 23.76px;
  margin-left: 10px;
  padding-top: 45px;
}

.player-hand-container {
  width: 139.602px;
  margin: 0 0 0 10px;
}

#computer-hand {
  padding-top: 3%;
  position: absolute;
  width: 90px;
  height: 140px;
  margin-bottom: 23.76px;
  margin-left: 28px;
  padding-top: 45px;
}

.computer-hand-container {
  margin: 0;
}

#versus {
  margin: 150px 150px 0 150px;
  font-size: 48px;
}

/* JavaScript added styles */

.winner-player {
  color: lightgreen
}

.winner-computer {
  color: orange;
}

.computer-score-orange {
  color: orange ;
  font-size: 1.4em;
}

.player-score-green {
  font-size: 1.4em;
  color: lightgreen;
}

.the-winner-container {
  padding-bottom: 10%;
  display: flex;
  justify-content: space-around;
  position:relative;
}

#the-winner {
  position: absolute;
  left: auto;
  font-size: 36px;
  text-align: center;
}


/* media queries */
@media screen and (max-width: 1500px) {

  #the-winner {
    font-size: 26px;
  }

  .the-winner-container {
    padding-bottom: 6%;
  }

  .title {
    margin-top: 0;
  }

  #winner-rule-point {
    margin-top: 0;
  }

  .sub-title {
    margin: 1% 0 1.5% 0;
  }

  #game-field {
    margin: 0;
  }

  .btn-container {
    margin: 4px auto 0 auto;
  }
}

@media screen and (max-width: 912px) {
  .title {
    margin: 10% 0 6% 0;
  }
    
  .btn-container {
    margin-top: 7%;
    max-width: 95%;
    box-shadow: none;
  }

  .toggle-button {
    margin-bottom: 1%;
  }
    
  .rules-list {
    position: relative;
    list-style: none;
    margin-top: 1rem;
    margin-left: 2rem;
    display: none;
  }
    
  .rules-list li {
    font-size: 1.5rem;
    margin: .5rem;
  }

  .the-winner-container {
    padding: 10% 0 15% 0;
  }

  #the-winner {
    font-size: 21px;
  }

  #game-field {
    margin: 15% 0 13% 0;
  }

  #winner-rule-point {
    margin-top: 13%;
        
  }

  #game-field {
    display: flex;
      justify-content: space-evenly;
  }

  #versus {
    margin: 150px 0 0 0;
  }
}

@media screen and (max-width: 768px) {
  .title {
    margin: 5% 0 6% 0;
  }
    
  .btn-container {
    margin-top: 5%;
    max-width: 95%;
    box-shadow: none;
  }

  .toggle-button {
    margin-bottom: 1%;
  }
    
  .rules-list {
    position: relative;
    list-style: none;
    margin-top: 1rem;
    margin-left: 2rem;
    display: none;
  }
    
  .rules-list li {
    font-size: 1.5rem;
    margin: .5rem;
  }

  .the-winner-container {
    padding-bottom: 10%;
  }

  #the-winner {
    font-size: 21px;
  }

  #game-field {
    margin: 15% 0 10% 0;
  }

  #game-field {
    display: flex;
    justify-content: space-evenly;
  }

  #versus {
    margin: 150px 0 0 0;
  }
}

@media screen and (max-width: 540px) {

  .title {
    margin: 2% 0 2% 0;
  }
    
  .btn-container {
    margin-top: 10%;
    max-width: 95%;
    box-shadow: none;
  }

  .toggle-button {
    margin-bottom: 1%;
  }
  
  .rules-list {
    position: relative;
    list-style: none;
    margin-top: 1rem;
    margin-left: 2rem;
    display: none;
  }
    
  .rules-list li {
    font-size: 1.5rem;
    margin: .5rem;
  }

  #the-winner {
    font-size: 21px;
  }

  .the-winner-container {
    padding-bottom: 18%;
  }

  #game-field {
    margin: 0;
  }

  #winner-rule-point {
    margin-top: 5%;      
  }

  #game-field {
    display: flex;
    justify-content: space-evenly;
  }

  #versus {
    margin: 150px 0 0 0;
  }
}

@media screen and (max-width: 414px) {
    
  .title {
    margin: 2% 0 6% 0;
  }
    
  .btn-container {
    margin-top: 7%;
    max-width: 95%;
    box-shadow: none;
  }

  .toggle-button {
    margin-bottom: 1%;
  }
    
  .rules-list {
    position: relative;
    list-style: none;
    margin-top: 1rem;
    margin-left: 2rem;
    display: none;
  }
    
  .rules-list li {
    font-size: 1.5rem;
    margin: .5rem;
  }

  .the-winner-container {
    padding-bottom: 20%;
  }

  #the-winner {
    font-size: 21px;
  }

  #game-field {
    margin: 15% 0 25% 0;
  }

  #winner-rule-point {
    margin-top: 15%;
    padding: 5%;
  }

  #game-field {
    display: flex;
    justify-content: space-evenly;
  }

  #versus {
    margin: 150px 0 0 0;
  }
}

@media screen and (max-width: 375px) {

  .title {
    margin: 2% 0 6% 0;
  }
    
  .btn-container {
    margin-top: 5%;
    max-width: 95%;
    box-shadow: none;
  }

  .toggle-button {
    margin-bottom: 1%;
  }
    
  .rules-list {
    position: relative;
    list-style: none;
    margin-top: 1rem;
    margin-left: 2rem;
    display: none;
  }

  .the-winner-container {
    padding-bottom: 20%;
  }

  #the-winner {
    font-size: 21px;
  }


  .rules-list li {
    font-size: 1.5rem;
    margin: .5rem;
  }

  #game-field {
    margin: 0;
  }

  #winner-rule-point {
    margin-top: 1%;    
    }

  #game-field {
    display: flex;
    justify-content: space-evenly;
  }

  #versus {
    margin: 150px 0 0 0;
  }

}



@media screen and (max-width: 320px) {
  .btn-container {
    margin-top: 10%;
    max-width: 95%;
    box-shadow: none;
  }

  .title {
    margin: 5% 0 8% 0;
  }

  .toggle-button {
    margin-bottom: 1%;
  }
    
  .rules-list {
    position: relative;
    list-style: none;
    margin-top: 1rem;
    margin-left: 2rem;
    display: none;
  }

  .the-winner-container {
    padding-bottom: 28%;
  }

  #the-winner {
    font-size: 21px;
  }
    
  .rules-list li {
    font-size: 1.5rem;
    margin: .5rem;
  }

  #winner-rule-point {
    margin-top: 0;      
  }
    
  #game-field {
    display: flex;
    justify-content: space-evenly;
  }

  #versus {
    font-size: 2em;
    margin: 150px 0 0 0;
  }
    
  .player-score-green {
    font-size: 1em;
  }

  .computer-score-orange {
    font-size: 1em;
  }

  #computer-hand {
    width: auto;
    height: auto;
  }

  #player-hand {
    width: auto;
    height: auto;
  }

  .player-hand-container {
    width: auto;
  }

  #winner-rule-point {
    font-size: 1em;
  }
}





