
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Bebas Neue', sans-serif;
    color: #fff;
}

body {
    background-image: linear-gradient(to right, #1f3756, #1653a3 )
}

.title {
    margin: 3% 0 12% 0;
    text-align: center;
    
}

/* rules and matches interactive text */

#rules {
text-align: center;
}

#matches {
    text-align: center;
}

/* buttons */
.btn-container {
    padding: 1%;
    box-shadow: 10px 5px 5px #000000;
    border-radius: 10%;
    background-color: #1653a3;
    border: solid 10px #122a49;
    margin: 25px auto;
    max-width: 50%;
    display: flex;
    justify-content:space-around;
}


.btn-hover{
    all: unset;
    cursor: pointer;
}


.btn-hover:hover {
    background-color:#fefffd;
}

/* rules drop down menu */

.toggle-button {
    font-size: 2rem;
    position: absolute;
    top: 2rem;
    left: 2rem;
    cursor: pointer;
}

.rules-span:hover {
    color: #1f3756;
    background-color: white;
    
}

.rules-list {
    position: absolute;
    list-style: none;
    margin-top: 3rem;
    margin-left: 2rem;
    display: none;
}

.rules-list li {
    font-size: 1.5rem;
    margin: .5rem;
}

.rules-list.active {
    display: block;
}

/*animation code taken from: youtube Code Grind channel more details and link at readme.md*/

@keyframes shake-computer {
    0% {
        transform: rotate(-30deg);
    }

    25% {
        transform: rotate(30deg);
    }

    50% {
        transform: rotate(-30deg);
    }

    75% {
        transform: rotate(30deg);
    }

    100% {
        transform: rotate(-30deg);
    }

}

@keyframes shake-player {
    0% {
        transform: rotate(30deg);
    }

    25% {
        transform: rotate(-30deg);
    }

    50% {
        transform: rotate(30deg);
    }

    75% {
        transform: rotate(-30deg);
    }

    100% {
        transform: rotate(30deg);
    }

}

/* Game field */

#game-field {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 45px 0 149.7px 0;
}

.shake-player {
    animation: shake-player 1s linear;
}

.shake-computer {
    animation: shake-computer 1s linear;
}


#player-hand {
    padding-top: 3%;
    position: absolute;
    width: 90px;
    margin-bottom: 23.76px;
    margin-left: 10px;
}

#computer-hand {
    padding-top: 3%;
    position: absolute;
    width: 90px;
    margin-bottom: 23.76px;
    margin-left: 10px;
}

.winner-player {
    color: lightgreen
}

.winner-computer {
    color: orange;
}

.computer-score-orange {
    color: orange ;
}

.player-score-green {
    color: lightgreen;
}

.the-winner-container {
    padding-bottom: 5%;
    display: flex;
    justify-content: space-around;
    position:relative;
}

#the-winner {
    position: absolute;
    left: auto;
    font-size: 32px;
    text-align: center;
    margin-bottom: 0;
}


/* media query */

@media screen and (max-width: 912px) {
    .title {
        margin: 10% 0 20% 0;
    }
    
    .btn-container {
        margin-top: 15%;
        max-width: 95%;
        box-shadow: none;
    }

    .toggle-button {
        font-size: 2rem;
        position: relative;
        top: .75rem;
        left: 1rem;
        margin-bottom: 1.3em;
    }
    
    .rules-list {
        position: relative;
        list-style: none;
        margin-top: 1rem;
        margin-left: 2rem;
        display: none;
    }
    
    .rules-list li {
        font-size: 1.5rem;
        margin: .5rem;
    }
}

@media screen and (max-width: 768px) {
    .title {
        margin: 5% 0 20% 0;
    }
    
    .btn-container {
        margin-top: 20%;
        max-width: 95%;
        box-shadow: none;
    }

    .toggle-button {
        font-size: 2rem;
        position: relative;
        top: .75rem;
        left: 1rem;
        margin-bottom: 1.3em;
    }
    
    .rules-list {
        position: relative;
        list-style: none;
        margin-top: 1rem;
        margin-left: 2rem;
        display: none;
    }
    
    .rules-list li {
        font-size: 1.5rem;
        margin: .5rem;
    }
}

@media screen and (max-width: 540px) {
    .title {
        margin: 5% 0 20% 0;
    }
    
    .btn-container {
        margin-top: 20%;
        max-width: 95%;
        box-shadow: none;
    }

    .toggle-button {
        font-size: 2rem;
        position: relative;
        top: .75rem;
        left: 1rem;
        margin-bottom: 1.3em;
    }
    
    .rules-list {
        position: relative;
        list-style: none;
        margin-top: 1rem;
        margin-left: 2rem;
        display: none;
    }
    
    .rules-list li {
        font-size: 1.5rem;
        margin: .5rem;
    }
}

@media screen and (max-width: 414px) {
    .title {
        margin: 10% 0 25% 0;
    }
    
    .btn-container {
        margin-top: 10%;
        max-width: 95%;
        box-shadow: none;
    }

    .toggle-button {
        font-size: 2rem;
        position: relative;
        top: .75rem;
        left: 1rem;
        margin-bottom: 1.3em;
    }
    
    .rules-list {
        position: relative;
        list-style: none;
        margin-top: 1rem;
        margin-left: 2rem;
        display: none;
    }
    
    .rules-list li {
        font-size: 1.5rem;
        margin: .5rem;
    }
}

@media screen and (max-width: 375px) {
    .title {
        margin: 5% 0 12% 0;
    }
    
    .btn-container {
        margin-top: 5%;
        max-width: 95%;
        box-shadow: none;
    }

    #the-winner {
        margin-bottom: 1em;
        font-size: 1.2em;
    }

    #game-field {
        margin: 40px 0px 40px 0px;
    }

    .toggle-button {
        font-size: 2rem;
        position: relative;
        top: .75rem;
        left: 1rem;
        margin-bottom: 1.3em;
    }
    
    .rules-list {
        position: relative;
        list-style: none;
        margin-top: 1rem;
        margin-left: 2rem;
        display: none;
    }
    
    .rules-list li {
        font-size: 1.5rem;
        margin: .5rem;
    }
}



@media screen and (max-width: 320px) {
    .btn-container {
        margin-top: 20%;
        max-width: 95%;
        box-shadow: none;
    }

    .title {
        margin: 5% 0 30% 0;
    }

    .toggle-button {
        font-size: 2rem;
        position: relative;
        top: .75rem;
        left: 1rem;
        margin-bottom: 1.3em;
    }
    
    .rules-list {
        position: relative;
        list-style: none;
        margin-top: 1rem;
        margin-left: 2rem;
        display: none;
    }
    
    .rules-list li {
        font-size: 1.5rem;
        margin: .5rem;
    }

}





